.button {
  width: 100%;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 5px solid #107fda;
  color: rgb(20, 20, 20);
  font-weight: bold;
  background: #1ea4c5;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;

  border-radius: 20px;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #1ea4c5;
  border-color: #223f8f;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

@media (min-width: 768px) {
  .button {
    width: auto;
  }
}
